html,
body {
    padding: 0;
    margin: 0;
    
}

@font-face {
    font-family: ComicSerif;
    src: url(ComicSerif.otf);
}

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    float: left;
    font-family: ComicSerif;
    font-weight: lighter;
}

#file {
    position: absolute;
    left: -1500px;
}